body {
    background-image: url('https://cdn.prod.website-files.com/6768f29a6d5da42209173f20/6768f29b6d5da422091774c4_Rectangle%20(41).svg');

}

h1 {
  color: navy;
  margin-left: 25px;

}
